USE [bdsiscontrol]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[CidadeID] [int] NOT NULL,
	[NomeCidade] [varchar](120) NULL,
	[EstadoID] [int] NULL,
	[ibge] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] NOT NULL,
	[NomeCliente] [nvarchar](100) NOT NULL,
	[Cpf] [varchar](14) NULL,
	[Email] [nvarchar](100) NULL,
	[Endereco] [varchar](150) NULL,
	[Telefone] [varchar](20) NULL,
	[CidadeID] [int] NULL,
 CONSTRAINT [PK__Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] NOT NULL,
	[NomeEstado] [varchar](75) NULL,
	[Uf] [varchar](2) NULL,
	[ibge] [int] NULL,
	[Pais] [int] NULL,
	[ddd] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaPgto]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPgto](
	[FormaPgtoID] [int] NOT NULL,
	[NomeFormaPgto] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormaPgtoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[FornecedorID] [int] NOT NULL,
	[NomeFornecedor] [nvarchar](100) NOT NULL,
	[Cnpj] [nvarchar](20) NULL,
	[Endereco] [nvarchar](255) NULL,
	[Telefone] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[CidadeID] [int] NOT NULL,
 CONSTRAINT [PK__Forneced] PRIMARY KEY CLUSTERED 
(
	[FornecedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoPreco]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoPreco](
	[HistoricoID] [int] IDENTITY(1,1) NOT NULL,
	[ProdutoID] [int] NOT NULL,
	[DataRegistro] [datetime] NULL,
	[PrecoCusto] [decimal](18, 2) NOT NULL,
	[Lucro] [decimal](18, 2) NOT NULL,
	[PrecoVenda] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemVenda]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemVenda](
	[ProdutoID] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[PrecoUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Quantidade]*[PrecoUnitario]),
	[ItemVendaID] [int] NOT NULL,
	[VendaID] [int] NULL,
 CONSTRAINT [PK__ItemVend] PRIMARY KEY CLUSTERED 
(
	[ItemVendaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagamentosParciais]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagamentosParciais](
	[PagamentoParcialID] [int] IDENTITY(1,1) NOT NULL,
	[ParcelaID] [int] NULL,
	[ValorPago] [decimal](18, 2) NULL,
	[DataPagamento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagamentoParcialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[NumeroParcela] [int] NOT NULL,
	[DataVencimento] [datetime] NOT NULL,
	[ValorParcela] [decimal](18, 2) NOT NULL,
	[ValorRecebido] [decimal](18, 2) NOT NULL,
	[SaldoRestante] [decimal](18, 2) NOT NULL,
	[Pago] [bit] NOT NULL,
	[ParcelaID] [int] NOT NULL,
	[VendaID] [int] NULL,
 CONSTRAINT [PK__Parcela] PRIMARY KEY CLUSTERED 
(
	[ParcelaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[ProdutoID] [int] NOT NULL,
	[NomeProduto] [varchar](100) NOT NULL,
	[PrecoCusto] [decimal](10, 2) NOT NULL,
	[Lucro] [decimal](10, 2) NOT NULL,
	[PrecoDeVenda] [decimal](10, 2) NOT NULL,
	[Estoque] [int] NOT NULL,
	[DataDeEntrada] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
	[Referencia] [nvarchar](15) NULL,
 CONSTRAINT [PK__Produtos] PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] NOT NULL,
	[NomeUsuario] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Senha] [nvarchar](500) NULL,
	[TipoUsuario] [nvarchar](50) NULL,
	[Cpf] [nvarchar](12) NULL,
	[DataNascimento] [datetime] NULL,
 CONSTRAINT [PK__Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 19/02/2025 12:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[ClienteID] [int] NOT NULL,
	[DataVenda] [datetime] NOT NULL,
	[ValorTotal] [decimal](10, 2) NOT NULL,
	[VendaID] [int] NOT NULL,
	[FormaPgto] [nvarchar](15) NULL,
 CONSTRAINT [PK__Venda] PRIMARY KEY CLUSTERED 
(
	[VendaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cidade] ([CidadeID], [NomeCidade], [EstadoID], [ibge]) VALUES (1, N'Afonso Cláudio', 8, 3200102)
INSERT [dbo].[Cidade] ([CidadeID], [NomeCidade], [EstadoID], [ibge]) VALUES (2, N'Água Doce do Norte', 8, 3200169)
INSERT [dbo].[Cidade] ([CidadeID], [NomeCidade], [EstadoID], [ibge]) VALUES (3, N'Águia Branca', 8, 3200136)
GO
INSERT [dbo].[Cliente] ([ClienteID], [NomeCliente], [Cpf], [Email], [Endereco], [Telefone], [CidadeID]) VALUES (1, N'MARINALVA PEREIRA BRANDÃO DA SILVA', N'', N'', N'RUA RIO ITACAIUNAS, 805 - NOVO HORIZONTE', N'', 2560)
INSERT [dbo].[Cliente] ([ClienteID], [NomeCliente], [Cpf], [Email], [Endereco], [Telefone], [CidadeID]) VALUES (2, N'YAGO BRANDAO DOS PASSOS', N'', N'', N'RUA CINCO, 379, BELAVISTA', N'94 9 91814247', 2560)
INSERT [dbo].[Cliente] ([ClienteID], [NomeCliente], [Cpf], [Email], [Endereco], [Telefone], [CidadeID]) VALUES (3, N'ARNOLDO MARQUES DAS CHAGAS', N'', N'', N'RUA PONTES DE MIRANDA, 887, NOVO HORIZONTE', N'', 2560)
GO
INSERT [dbo].[Estado] ([EstadoID], [NomeEstado], [Uf], [ibge], [Pais], [ddd]) VALUES (1, N'Acre', N'AC', 12, 1, N'68')
INSERT [dbo].[Estado] ([EstadoID], [NomeEstado], [Uf], [ibge], [Pais], [ddd]) VALUES (2, N'Alagoas', N'AL', 27, 1, N'82')
INSERT [dbo].[Estado] ([EstadoID], [NomeEstado], [Uf], [ibge], [Pais], [ddd]) VALUES (3, N'Amazonas', N'AM', 13, 1, N'97,92')
GO
INSERT [dbo].[FormaPgto] ([FormaPgtoID], [NomeFormaPgto]) VALUES (1, N'A Vista')
INSERT [dbo].[FormaPgto] ([FormaPgtoID], [NomeFormaPgto]) VALUES (2, N'Cartão de Crédito')
INSERT [dbo].[FormaPgto] ([FormaPgtoID], [NomeFormaPgto]) VALUES (3, N'Cartão de Débito')
GO
INSERT [dbo].[Fornecedor] ([FornecedorID], [NomeFornecedor], [Cnpj], [Endereco], [Telefone], [Email], [CidadeID]) VALUES (1, N'DISTRIBUIDORA ABC', N'12.345.678/0001-91', N'Rua A, 100', N'(11) 91234-5678', N'contato@abc.com', 1)
GO
SET IDENTITY_INSERT [dbo].[HistoricoPreco] ON 

INSERT [dbo].[HistoricoPreco] ([HistoricoID], [ProdutoID], [DataRegistro], [PrecoCusto], [Lucro], [PrecoVenda]) VALUES (2, 15, CAST(N'2025-02-04T07:26:09.437' AS DateTime), CAST(20.42 AS Decimal(18, 2)), CAST(19.48 AS Decimal(18, 2)), CAST(39.90 AS Decimal(18, 2)))
INSERT [dbo].[HistoricoPreco] ([HistoricoID], [ProdutoID], [DataRegistro], [PrecoCusto], [Lucro], [PrecoVenda]) VALUES (3, 15, CAST(N'2025-02-04T07:29:38.260' AS DateTime), CAST(20.42 AS Decimal(18, 2)), CAST(19.48 AS Decimal(18, 2)), CAST(39.90 AS Decimal(18, 2)))
INSERT [dbo].[HistoricoPreco] ([HistoricoID], [ProdutoID], [DataRegistro], [PrecoCusto], [Lucro], [PrecoVenda]) VALUES (4, 20, CAST(N'2025-02-04T07:30:59.110' AS DateTime), CAST(16.78 AS Decimal(18, 2)), CAST(23.12 AS Decimal(18, 2)), CAST(39.90 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HistoricoPreco] OFF
GO
INSERT [dbo].[ItemVenda] ([ProdutoID], [Quantidade], [PrecoUnitario], [ItemVendaID], [VendaID]) VALUES (2, 1, CAST(150.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[ItemVenda] ([ProdutoID], [Quantidade], [PrecoUnitario], [ItemVendaID], [VendaID]) VALUES (4, 1, CAST(48.90 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[ItemVenda] ([ProdutoID], [Quantidade], [PrecoUnitario], [ItemVendaID], [VendaID]) VALUES (2, 1, CAST(140.00 AS Decimal(10, 2)), 3, 2)
GO
SET IDENTITY_INSERT [dbo].[PagamentosParciais] ON 

INSERT [dbo].[PagamentosParciais] ([PagamentoParcialID], [ParcelaID], [ValorPago], [DataPagamento]) VALUES (10, 1, CAST(30.00 AS Decimal(18, 2)), CAST(N'2024-12-14' AS Date))
INSERT [dbo].[PagamentosParciais] ([PagamentoParcialID], [ParcelaID], [ValorPago], [DataPagamento]) VALUES (11, 1, CAST(5.90 AS Decimal(18, 2)), CAST(N'2025-01-20' AS Date))
INSERT [dbo].[PagamentosParciais] ([PagamentoParcialID], [ParcelaID], [ValorPago], [DataPagamento]) VALUES (12, 2, CAST(80.00 AS Decimal(18, 2)), CAST(N'2025-01-03' AS Date))
SET IDENTITY_INSERT [dbo].[PagamentosParciais] OFF
GO
INSERT [dbo].[Parcela] ([NumeroParcela], [DataVencimento], [ValorParcela], [ValorRecebido], [SaldoRestante], [Pago], [ParcelaID], [VendaID]) VALUES (1, CAST(N'2024-12-28T00:00:00.000' AS DateTime), CAST(198.90 AS Decimal(18, 2)), CAST(35.90 AS Decimal(18, 2)), CAST(163.90 AS Decimal(18, 2)), 0, 1, 1)
INSERT [dbo].[Parcela] ([NumeroParcela], [DataVencimento], [ValorParcela], [ValorRecebido], [SaldoRestante], [Pago], [ParcelaID], [VendaID]) VALUES (1, CAST(N'2024-12-28T00:00:00.000' AS DateTime), CAST(140.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), 0, 2, 2)
INSERT [dbo].[Parcela] ([NumeroParcela], [DataVencimento], [ValorParcela], [ValorRecebido], [SaldoRestante], [Pago], [ParcelaID], [VendaID]) VALUES (1, CAST(N'2024-11-16T00:00:00.000' AS DateTime), CAST(439.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), CAST(189.00 AS Decimal(18, 2)), 0, 3, 3)
GO
INSERT [dbo].[Produtos] ([ProdutoID], [NomeProduto], [PrecoCusto], [Lucro], [PrecoDeVenda], [Estoque], [DataDeEntrada], [Status], [Referencia]) VALUES (1, N'TODODIA SAB BARRA SORTIDOS 5X90G', CAST(25.13 AS Decimal(10, 2)), CAST(14.77 AS Decimal(10, 2)), CAST(39.90 AS Decimal(10, 2)), -1, CAST(N'2025-01-29T06:32:37.817' AS DateTime), N'Indisponivel', N'5216')
INSERT [dbo].[Produtos] ([ProdutoID], [NomeProduto], [PrecoCusto], [Lucro], [PrecoDeVenda], [Estoque], [DataDeEntrada], [Status], [Referencia]) VALUES (2, N'SINTONIA IMPACTO DES COL MASC 100ML', CAST(111.93 AS Decimal(10, 2)), CAST(90.97 AS Decimal(10, 2)), CAST(202.90 AS Decimal(10, 2)), 0, CAST(N'2025-02-03T23:10:43.627' AS DateTime), N'Indisponivel', N'71773')
INSERT [dbo].[Produtos] ([ProdutoID], [NomeProduto], [PrecoCusto], [Lucro], [PrecoDeVenda], [Estoque], [DataDeEntrada], [Status], [Referencia]) VALUES (3, N'ESSENCIAL ATO DEO PARFUM FEM 100ML', CAST(181.06 AS Decimal(10, 2)), CAST(97.84 AS Decimal(10, 2)), CAST(278.90 AS Decimal(10, 2)), 0, CAST(N'2025-01-29T13:08:56.630' AS DateTime), N'Indisponivel', N'114583')
GO
INSERT [dbo].[Usuario] ([UsuarioID], [NomeUsuario], [Email], [Senha], [TipoUsuario], [Cpf], [DataNascimento]) VALUES (2, N'WADSON', N'wadsonwadson@hotmail.com', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'Administrador', N'69795061291', CAST(N'1982-10-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Usuario] ([UsuarioID], [NomeUsuario], [Email], [Senha], [TipoUsuario], [Cpf], [DataNascimento]) VALUES (3, N'MARIA', N'', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'Operador', N'70204675200', CAST(N'1977-03-04T20:18:08.167' AS DateTime))
GO
INSERT [dbo].[Venda] ([ClienteID], [DataVenda], [ValorTotal], [VendaID], [FormaPgto]) VALUES (1, CAST(N'2025-02-02T13:53:15.607' AS DateTime), CAST(198.90 AS Decimal(10, 2)), 1, N'Parcelado')
INSERT [dbo].[Venda] ([ClienteID], [DataVenda], [ValorTotal], [VendaID], [FormaPgto]) VALUES (3, CAST(N'2025-02-02T13:55:15.180' AS DateTime), CAST(140.00 AS Decimal(10, 2)), 2, N'Parcelado')
INSERT [dbo].[Venda] ([ClienteID], [DataVenda], [ValorTotal], [VendaID], [FormaPgto]) VALUES (5, CAST(N'2025-02-02T13:59:48.787' AS DateTime), CAST(439.00 AS Decimal(10, 2)), 3, N'Parcelado')
GO
ALTER TABLE [dbo].[Cidade] ADD  DEFAULT (NULL) FOR [NomeCidade]
GO
ALTER TABLE [dbo].[Cidade] ADD  DEFAULT (NULL) FOR [EstadoID]
GO
ALTER TABLE [dbo].[Cidade] ADD  DEFAULT (NULL) FOR [ibge]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (NULL) FOR [NomeEstado]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (NULL) FOR [Uf]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (NULL) FOR [ibge]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (NULL) FOR [Pais]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (NULL) FOR [ddd]
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_Cidade_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_Cidade_Estado]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Cidade] FOREIGN KEY([CidadeID])
REFERENCES [dbo].[Cidade] ([CidadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Cidade]
GO
ALTER TABLE [dbo].[Fornecedor]  WITH CHECK ADD  CONSTRAINT [FK_Fornecedor_Cidade] FOREIGN KEY([CidadeID])
REFERENCES [dbo].[Cidade] ([CidadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fornecedor] CHECK CONSTRAINT [FK_Fornecedor_Cidade]
GO
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK__ItemVenda__Venda] FOREIGN KEY([VendaID])
REFERENCES [dbo].[Venda] ([VendaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK__ItemVenda__Venda]
GO
ALTER TABLE [dbo].[ItemVenda]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenda_Produto] FOREIGN KEY([ProdutoID])
REFERENCES [dbo].[Produtos] ([ProdutoID])
GO
ALTER TABLE [dbo].[ItemVenda] CHECK CONSTRAINT [FK_ItemVenda_Produto]
GO
ALTER TABLE [dbo].[PagamentosParciais]  WITH CHECK ADD  CONSTRAINT [FK__PagamentosParciais__ParcelaID] FOREIGN KEY([ParcelaID])
REFERENCES [dbo].[Parcela] ([ParcelaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PagamentosParciais] CHECK CONSTRAINT [FK__PagamentosParciais__ParcelaID]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [FK_Parcela_Venda] FOREIGN KEY([VendaID])
REFERENCES [dbo].[Venda] ([VendaID])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [FK_Parcela_Venda]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK__Venda__ClienteID] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK__Venda__ClienteID]
GO
EXEC sys.sp_addextendedproperty @name=N'comentario_cidade', @value=N'Municipios das Unidades Federativas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cidade'
GO
EXEC sys.sp_addextendedproperty @name=N'comentario_estado', @value=N'Unidades Federativas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Estado'
GO
